.8_264 { 
	overflow:hidden;
	border:3px solid rgba(0, 0, 0, 1);
}.e8_264 { 
	background-color:rgba(255, 255, 255, 1);
	width:428px;
	height:926px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
	position:absolute;
}.e8_266 { 
	width:280px;
	height:118px;
	position:absolute;
	left:36px;
	top:72px;
}.e8_281 { 
	width:177px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}.e8_263 { 
	color:rgba(0, 0, 0, 0.8999999761581421);
	width:177px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e8_265 { 
	color:rgba(0, 0, 0, 0.30000001192092896);
	width:139px;
	height:19px;
	position:absolute;
	left:0px;
	top:55px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e8_282 { 
	width:280px;
	height:20px;
	position:absolute;
	left:0px;
	top:98px;
}.e8_268 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.e8_269 { 
	background-color:rgba(95.2978527545929, 63.87235343456268, 221.00000202655792, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:4.440892098500626e-16px;
}.e8_272 { 
	color:rgba(95.2978527545929, 63.87235343456268, 221.00000202655792, 1);
	width:55px;
	height:19px;
	position:absolute;
	left:32px;
	top:0.5px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e8_273 { 
	width:20px;
	height:20px;
	position:absolute;
	left:99px;
	top:0px;
}.e8_274 { 
	background-color:rgba(221.00000202655792, 63.87235343456268, 167.5765711069107, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:4.440892098500626e-16px;
}.e8_275 { 
	color:rgba(221.00000202655792, 63.87235343456268, 167.5765711069107, 1);
	width:105px;
	height:19px;
	position:absolute;
	left:131px;
	top:0.5px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e8_276 { 
	width:20px;
	height:20px;
	position:absolute;
	left:248px;
	top:0px;
}.e8_277 { 
	background-color:rgba(151.00000619888306, 71.00000336766243, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:4.440892098500626e-16px;
}.e8_278 { 
	width:20px;
	height:20px;
	position:absolute;
	left:280px;
	top:0px;
}.e8_279 { 
	background-color:rgba(36.854268014431, 165.74999392032623, 88.41256901621819, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:4.440892098500626e-16px;
}.e8_244 { 
	box-shadow:4px 4px 0px rgba(0, 0, 0, 1);
	background-color:rgba(255, 255, 255, 1);
	width:336px;
	height:191px;
	position:absolute;
	left:36px;
	top:241px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.8_244 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_244_8_46 { 
	width:226px;
	height:44px;
	position:absolute;
	left:24px;
	top:24px;
}.ei8_244_8_51 { 
	background-color:rgba(95.2978527545929, 63.87235343456268, 221.00000202655792, 1);
	width:6px;
	height:44px;
	position:absolute;
	left:-26px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei8_244_8_31 { 
	color:rgba(0, 0, 0, 1);
	width:226px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei8_244_8_53 { 
	width:268px;
	height:40px;
	position:absolute;
	left:24px;
	top:127px;
}.ei8_244_8_42 { 
	width:268px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_244_8_33 { 
	width:68px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_244_8_36 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:2px;
	top:2px;
	background-image:url(images/ellipse_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_244_8_36 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_244_8_37 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:30px;
	top:2px;
	background-image:url(images/ellipse_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_244_8_37 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_244_8_41 { 
	width:59px;
	height:19px;
	position:absolute;
	left:209px;
	top:10.5px;
}.ei8_244_8_38 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:2px;
}.ei8_244_8_39 { 
	background-color:rgba(195.49999594688416, 188.9833304286003, 188.9833304286003, 1);
	width:13.300008773803711px;
	height:13.300004959106445px;
	position:absolute;
	left:0.8498718738555908px;
	top:0.8500000238418579px;
}.ei8_244_5_8 { 
	color:rgba(0, 0, 0, 1);
	width:40px;
	height:19px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.ei8_244_6_10 { 
	width:16px;
	height:16px;
	position:absolute;
	left:276px;
	top:24px;
}.i8_244_6_11 { 
	border:2px solid rgba(197.62499392032623, 197.62499392032623, 197.62499392032623, 1);
}.ei8_244_6_11 { 
	width:10.666666984558105px;
	height:5.333333492279053px;
	position:absolute;
	left:2.6666667461395264px;
	top:6px;
}.e8_145 { 
	box-shadow:4px 4px 0px rgba(0, 0, 0, 1);
	background-color:rgba(255, 255, 255, 1);
	width:336px;
	height:190px;
	position:absolute;
	left:36px;
	top:454px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.8_145 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_145_8_60 { 
	width:226px;
	height:66px;
	position:absolute;
	left:24px;
	top:24px;
}.ei8_145_8_62 { 
	color:rgba(0, 0, 0, 1);
	width:226px;
	height:66px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei8_145_8_262 { 
	background-color:rgba(221.00000202655792, 63.87235343456268, 167.5765711069107, 1);
	width:6px;
	height:66px;
	position:absolute;
	left:-26px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei8_145_8_63 { 
	width:268px;
	height:40px;
	position:absolute;
	left:24px;
	top:126px;
}.ei8_145_8_64 { 
	width:268px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_145_8_65 { 
	width:96px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_145_8_66 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:2px;
	top:2px;
	background-image:url(images/ellipse_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_145_8_66 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_145_8_67 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:30px;
	top:2px;
	background-image:url(images/ellipse_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_145_8_67 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_145_8_69 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:58px;
	top:2px;
	background-image:url(images/ellipse_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_145_8_69 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_145_8_70 { 
	width:59px;
	height:19px;
	position:absolute;
	left:209px;
	top:10.5px;
}.ei8_145_8_71 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:2px;
}.ei8_145_8_72 { 
	background-color:rgba(195.49999594688416, 188.9833304286003, 188.9833304286003, 1);
	width:13.300008773803711px;
	height:13.300004959106445px;
	position:absolute;
	left:0.8498718738555908px;
	top:0.8500000238418579px;
}.ei8_145_8_73 { 
	color:rgba(0, 0, 0, 1);
	width:40px;
	height:19px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.ei8_145_8_74 { 
	width:16px;
	height:16px;
	position:absolute;
	left:276px;
	top:24px;
}.i8_145_8_75 { 
	border:2px solid rgba(197.62499392032623, 197.62499392032623, 197.62499392032623, 1);
}.ei8_145_8_75 { 
	width:10.666666984558105px;
	height:5.333333492279053px;
	position:absolute;
	left:2.6666667461395264px;
	top:6px;
}.e8_162 { 
	box-shadow:4px 4px 0px rgba(0, 0, 0, 1);
	background-color:rgba(255, 255, 255, 1);
	width:336px;
	height:190px;
	position:absolute;
	left:36px;
	top:667px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.8_162 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_162_8_77 { 
	width:226px;
	height:44px;
	position:absolute;
	left:24px;
	top:24px;
}.ei8_162_8_78 { 
	background-color:rgba(151.00000619888306, 71.00000336766243, 255, 1);
	width:6px;
	height:44px;
	position:absolute;
	left:-26px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei8_162_8_79 { 
	color:rgba(0, 0, 0, 1);
	width:226px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei8_162_8_80 { 
	width:268px;
	height:40px;
	position:absolute;
	left:24px;
	top:126px;
}.ei8_162_8_81 { 
	width:268px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_162_8_82 { 
	width:124px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_162_8_83 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:2px;
	top:2px;
	background-image:url(images/ellipse_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_162_8_83 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_162_8_84 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:30px;
	top:2px;
	background-image:url(images/ellipse_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_162_8_84 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_162_8_85 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:58px;
	top:2px;
	background-image:url(images/ellipse_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_162_8_85 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_162_8_86 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:86px;
	top:2px;
	background-image:url(images/ellipse_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_162_8_86 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_162_8_87 { 
	width:59px;
	height:19px;
	position:absolute;
	left:209px;
	top:10.5px;
}.ei8_162_8_88 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:2px;
}.ei8_162_8_89 { 
	background-color:rgba(195.49999594688416, 188.9833304286003, 188.9833304286003, 1);
	width:13.300008773803711px;
	height:13.300004959106445px;
	position:absolute;
	left:0.8498718738555908px;
	top:0.8500000238418579px;
}.ei8_162_8_90 { 
	color:rgba(0, 0, 0, 1);
	width:40px;
	height:19px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.ei8_162_8_91 { 
	width:16px;
	height:16px;
	position:absolute;
	left:276px;
	top:24px;
}.i8_162_8_92 { 
	border:2px solid rgba(197.62499392032623, 197.62499392032623, 197.62499392032623, 1);
}.ei8_162_8_92 { 
	width:10.666666984558105px;
	height:5.333333492279053px;
	position:absolute;
	left:2.6666667461395264px;
	top:6px;
}.e8_179 { 
	box-shadow:4px 4px 0px rgba(0, 0, 0, 1);
	background-color:rgba(255, 255, 255, 1);
	width:336px;
	height:191px;
	position:absolute;
	left:36px;
	top:879px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.8_179 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_179_8_60 { 
	width:226px;
	height:44px;
	position:absolute;
	left:24px;
	top:24px;
}.ei8_179_8_62 { 
	color:rgba(0, 0, 0, 1);
	width:226px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.ei8_179_8_262 { 
	background-color:rgba(221.00000202655792, 63.87235343456268, 167.5765711069107, 1);
	width:6px;
	height:44px;
	position:absolute;
	left:-26px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei8_179_8_63 { 
	width:268px;
	height:40px;
	position:absolute;
	left:24px;
	top:127px;
}.ei8_179_8_64 { 
	width:268px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_179_8_65 { 
	width:96px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_179_8_66 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:2px;
	top:2px;
	background-image:url(images/ellipse_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_179_8_66 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_179_8_67 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:30px;
	top:2px;
	background-image:url(images/ellipse_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_179_8_67 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_179_8_69 { 
	border-radius:500px;
	width:36px;
	height:36px;
	position:absolute;
	left:58px;
	top:2px;
	background-image:url(images/ellipse_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.i8_179_8_69 { 
	border:2px solid rgba(0, 0, 0, 1);
}.ei8_179_8_70 { 
	width:59px;
	height:19px;
	position:absolute;
	left:209px;
	top:10.5px;
}.ei8_179_8_71 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:2px;
}.ei8_179_8_72 { 
	background-color:rgba(195.49999594688416, 188.9833304286003, 188.9833304286003, 1);
	width:13.300008773803711px;
	height:13.300004959106445px;
	position:absolute;
	left:0.8498718738555908px;
	top:0.8500000238418579px;
}.ei8_179_8_73 { 
	color:rgba(0, 0, 0, 1);
	width:40px;
	height:19px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.ei8_179_8_74 { 
	width:16px;
	height:16px;
	position:absolute;
	left:276px;
	top:24px;
}.i8_179_8_75 { 
	border:2px solid rgba(197.62499392032623, 197.62499392032623, 197.62499392032623, 1);
}.ei8_179_8_75 { 
	width:10.666666984558105px;
	height:5.333333492279053px;
	position:absolute;
	left:2.6666667461395264px;
	top:6px;
}.e8_309 { 
	background-color:rgba(255, 255, 255, 1);
	width:428px;
	height:124px;
	position:absolute;
	left:0px;
	top:801px;
}.8_309 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e8_291 { 
	width:264px;
	height:40px;
	position:absolute;
	left:82px;
	top:42px;
}.e8_285 { 
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.e8_286 { 
	background-color:rgba(0, 0, 0, 1);
	width:38.75px;
	height:32.5px;
	position:absolute;
	left:1.25px;
	top:3.75px;
}.e8_287 { 
	width:40px;
	height:40px;
	position:absolute;
	left:112px;
	top:0px;
}.e8_288 { 
	background-color:rgba(0, 0, 0, 0.30000001192092896);
	width:35px;
	height:35px;
	position:absolute;
	left:2.5px;
	top:0px;
}.e8_289 { 
	width:40px;
	height:40px;
	position:absolute;
	left:224px;
	top:0px;
}.e8_290 { 
	background-color:rgba(0, 0, 0, 0.30000001192092896);
	width:32.33905029296875px;
	height:33.33333206176758px;
	position:absolute;
	left:4px;
	top:3px;
}